name: Publish packages

on:
    workflow_dispatch:
        inputs:
            packages:
                description: 'Space-separated list of packages to publish'
                required: true
                type: string
            latest:
                description: 'Publish packages as latest on npm'
                required: false
                type: boolean
                default: false

permissions:
    id-token: write

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
              with:
                  run_install: false
            - uses: actions/setup-node@v4
              with:
                  node-version-file: '.nvmrc'
                  registry-url: 'https://registry.npmjs.org'
                  cache: 'pnpm'
            - run: pnpm install
            - run: pnpm build
            - name: Publish packages
              run: |
                  if [ "${{ github.event.inputs.packages }}" = "*" ]; then
                    packages=$(ls packages)
                  else
                    packages="${{ github.event.inputs.packages }}"
                  fi

                  for package in $packages; do
                    echo "Publishing $package..."
                    cd "packages/$package"
                    if [ "${{ github.event.inputs.latest }}" = "true" ]; then
                      pnpm exec noeldemartin-publish-package --latest
                    else
                      pnpm exec noeldemartin-publish-package
                    fi
                    cd ../..
                  done
